<footer class="page-footer font-small text-white bg-dark" style="padding-top: 10px" id="footer">
    <div class="container text-center text-md-left" >
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class=" mt-3 mb-4"> <a routerLink="/">findMovie 2.0</a></h5>
                <p>The upgraded version of this platform is launching soon. In findMovie 2.0 you can 
                    signup to the platform and share or see reviews or thoughts about a films to a closed community.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto ">
                <h5 class="mt-3 mb-4">Links</h5>
                <ul class="list-unstyled ">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/abhijith-surendran-02a8ab157/"  target="_blank">Contact</a>
                    </li>
                    <li>
                        <a href="https://github.com/ABHJITH"  target="_blank">Developer</a>
                    </li>
                   
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            
        </div>
    </div>
    <hr>
    
    <hr>
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> Abhijith Surendran</a>
    </div>
</footer>