#box{
    margin-top: 80px;
}
#movies img, #movie img{
  width:100%;
 
}

@media(min-width:1400px){
  #movies .col-md-3 {
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}